@use 'src/index.module.scss';

.movies-list {
  padding-top: 34px;
  padding-bottom: 36px;
  &--tablet {
    padding-top: 10px;
  }
  &--mobile {
    padding-top: 10px;
  }
}

.movie-cell {
  position: relative;
  width: 100%;
  overflow:hidden;
  max-width: 451px;
  min-width: 388px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15), 0px -4px 12px rgba(0, 0, 0, 0.15);
  &--tablet {
    height: 245px;
  }
  &--mobile {
    height: 245px;
    min-width: 388px;
    margin: auto;
  }
}

.movie-cell-container {
  width: 100%;
  display: flex;
}

.movie-title {
  margin-top: 10px;
  margin-bottom: 7px !important;
  width: 70%;
  min-width: 200px;
  height: auto;
  /* max-height: 72px;
    overflow-y: scroll; */
  &--tablet {
    margin-top: 4px;
    min-width: 217px;
  }
}

.movie-release-date {
  height: 22px;
  display: inline-block;
  line-height: 22px;
}

.poster-container {
  flex-basis: 183px;
  /* width: 100%; */
  background-size: 100% auto !important;
  /* min-width: 132px; */
  padding-bottom: 61%;
  &--tablet {
    flex-basis: 99px;
    min-width: 60px;
    padding-bottom: 0;
    margin-top: 6px;
    margin-left: 10px;
    height: 149px;
  }
  &--mobile {
    margin-top: 6px;
    margin-left: 10px;
    flex-basis: 15.5%;
    background-size: 100% auto !important;
    padding-bottom: 23%;
  }
}

.movie-description {
  display: inline-block;
  /* max-height: 63px;
    overflow-y: scroll; */
  &--tablet {
    margin: 10px 10px 0;
  }
}
