.search-panel {
  width: 100%;
  margin-bottom: 32px;  
  &__input {
    max-width: 976px;
    margin: auto !important;
    display: block !important;
    &--mobile {
      max-width: 451px;
      min-width: 388px !important;
    }
  }
  &--mobile {
    margin-bottom: 10px;
    margin-top: 17px;
  }
}
