.ant-pagination-item-active {
  background: #1890ff !important;
  line-height: 21px !important;
  a {
    color: #ffffff !important;
    background-color: #1890ff !important;
    &:focus-visible {
      a {
        color: #fff !important;
      }
    }
    &:hover {
      a {
        color: #fff !important;
      }
    }
  }
}
